{% extends 'base.html' %}

{% block title %}{{ letter.title }}{% endblock %}

{% block content %}
		
		<table class="letter_for_read">
			<tbody>
				<tr>
					<td class="td_title" style="text-align:center; width:20%;">제목</td>
					<td style="padding:10px;">
						<input type="text" name="title" id="title" value="{{ letter.title }}" readonly/>
					</td>
				</tr>
				<tr>
					<td class="td_title" style="text-align:center; width:20%;">작성일자</td>
					<td style="padding:10px;">
						<span>{{ letter.pub_date }}</span>
					</td>
				</tr>
				<tr>
					<td class="td_title" style="text-align:center;">내용</td>
					<td style="padding:10px;">
						<textarea name="detail" id="detail" rows="10" readonly>{{ letter.letter_text }}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align:left;">
			<a href="{% url 'my_page' %}">> Back</a>
		</div>

    </div>
{% endblock %}