{% extends 'base.html' %}

{% block title %}My Letter{% endblock %}

{% block content %}
    <div class="content">
        <style type="text/css">
            thead {
                background-color:#cecece;
            }
        
            .board {
                width: 100%
            }
            .odd_bgcolor{
                background-color:green;
            }
            .even_bgcolor {
                background-color:#e8efff;
            }
        </style>
        {% if letter_list %}
            <div class="header">
                <h2>
                    <p style="color: black; display: inline;">My Letters Page </p>
                    <p style="color: red; display: inline;">{{letter_list|length}}</p>
                </h2>
            </div>
            <table class="board">
                <thead>
                    <tr class="header">
                        <th style="width:10%;">순번</th>
                        <th style="width:40%">제목</th>
                        <th style="width:20%">작성자</th>
                        <th style="width:30%">작성일자</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for data in letter_list %}
                    {% if data.user == username %}

                    <tr class="{% if forloop.counter|divisibleby:2 %}even_bgcolor{%else%}odd_bgcolor{% endif %}">
                        <td style="text-align:center;">{{ forloop.counter }}</td>
                        
                        <td>
                            <a href="{%url 'letter_detail' data.id %}">
                                {{ data.title }}
                            </a>
                        </td>
                        <td>{{ data.visitor_id }}</td>
                        <td>{{ data.pub_date|date:'Y-m-d' }}</td>
                    </tr>
                    {% endif %} 
                {% endfor %}
            {% else %}
                <div class="header">
                    <h2>My Letter Page</h2>
                </div>
                <div style= "text-align:center;">
                    작성된 게시글이 없습니다.<br>
                </div>
            {% endif %}
            </tbody>
        </table>
        <br>
        <div style= "text-align:center;">
            <button type="button" class="HomeBtn" onclick = "location.href='/letters/'">Home</button><br>
        </div>
    </div>
{% endblock %}
    
</body>
</html>