{% extends "accounts_base.html" %}

{% block content %}
    <style type="text/css">
        
        .main-logo{
            display: flex;
            justify-content:center; 
            align-items: center;
            height: 70vh;
        }
        .main-logo img{
            height: 90%; /* 이미지가 main-logo의 90% 높이를 차지하도록 설정 (5%의 여백 추가) */
            object-fit: contain; /* 이미지가 잘림 없이 비율을 유지하면서 main-logo에 맞춰짐 */
            margin-top: 10%;
        }
        .login-container {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            position: fixed;
            top: 75%;    /* 화면 상단에서 10% 떨어진 위치에 배치 */
            left: 15%;   /* 화면 왼쪽에서 20% 떨어진 위치에 배치 */
            width: 70%; 
        }
        .label-input-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 30px;
            gap:20px;
        }
        .login-label{
            width: 200px; /* 라벨의 너비 조절 */
        }
        .logInBtn-container{
            display: inline-block;
            position: relative;
            overflow: hidden;
            margin-left: 10px;
        }
        .logInBtn-container:active .logInBtn-bg{
            transform: scale(0.9);
            
        }
        .logInBtn-bg{
            z-index: -1;
            position: absolute;
            
            background: url('/../static/img/logInBtn.png') center/cover no-repeat;
            width:170px;
            height:156px;
            transition: transform 0.3s ease;
        }
        .logInBtn{
            z-index: 1;
            color: #FDFFEC;
            font-family: 'hanna';
            font-size: 55px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            background: none;
            background-size: cover;
            width:200px;

        }
        .logInBtn:active{
            border: #000000;
        }
    </style>

    <body>
        <div class="main-logo">
            <img src="/../static/img/mainLogo.png" alt="Main Logo">
        </div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include "accounts/form_errors.html" %}
            <div class="login-container">
                <div class = "label-input-container">
                    <div class="id-container">
                        <label width= 200px class= "login-label">아이디</label>
                        <input class="textbox" type="text" name="username" id="username">
                    </div>
                    <div class="pwd-container">
                        <label class= "login-label">패스워드</label>
                        <input style="font-family:'serif'" class="textbox" type="password" name="password" id="password">
                    </div>
                </div>
                <div class = "logInBtn-container">
                    <div class ="logInBtn-bg"></div>
                    <input type="submit" value="로그인" class="logInBtn">
                </div>
            </div>
        </form>
    </body>

{% endblock  %}
