<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letters.io</title>
    
    <!-- CSS 파일 로드 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <meta property="og:title" content="익명의 편지가 도착했어요!" />
    <meta property="og:description" content="나만의 익명 편지함을 확인해보세요!" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/postbox_not_empty.png' %}" />
    <meta property="og:type" content="website" />

    <!-- 추가 스타일 블록 -->
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    
    <!-- 추가 스크립트 블록 -->
    {% block script %}
    {% endblock %}
</body>
</html>